*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.app {
	width: 100%;

	a {
		color: inherit;
		text-decoration: none;
	}
}

.overflowHidden {
	overflow-y: hidden;
	touch-action: none;
	-ms-touch-action: none;
}
