.contact {
	width: 100%;
	padding: 1rem 15vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2879fe;
	color: white;
	margin-top: 8rem;
	margin-bottom: 3rem;

	span {
		font-size: 1.125rem;
		font-weight: 400;
	}

	form {
		height: 2rem;
		display: flex;
		align-items: center;
		gap: 0;

		input {
			height: 100%;
			padding: 0.625rem 0.25rem;
			border-radius: 4px 0 0 4px;
			border: none;
			outline: none;
			width: 15rem;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			padding: 0.625rem;
			background-color: #333;
			color: white;
			border-radius: 0 4px 4px 0;
			font-size: 0.875rem;
			border: none;
			cursor: pointer;
		}
	}

	.socials {
		display: flex;
		gap: 0.8rem;

		.icon {
			font-size: 1.25rem;
			cursor: pointer;
			transition: all 0.2s ease-out;

			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

@media (max-width: 1200px) {
	.contact {
		padding: 1.25rem 5vw;
	}
}

@media (max-width: 900px) {
	.hidden-900 {
		display: none;
	}
}

@media (max-width: 480px) {
	.contact {
		padding: 2rem;
		flex-direction: column;
		gap: 1.25rem;
	}
}
