.products {
	padding: 2rem 3rem;
	display: flex;

	.left {
		flex: 1;
		position: sticky;
		height: 100%;
		top: 3rem;

		.filter-item {
			margin-bottom: 2rem;

			h2 {
				margin-bottom: 1.25rem;
				font-weight: 400;
				font-size: 1.5rem;
			}

			.input-item {
				margin-bottom: 0.625rem;

				label {
					margin-left: 0.625rem;
				}

				.range-input {
					margin-left: 5px;
					margin-right: 5px;
				}
			}
		}
	}

	.right {
		flex: 3;

		.top {
			height: 12.5rem;
			margin-bottom: 3rem;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.filter-icon {
			display: none;
		}

		.mobile-filters {
			display: none;
		}
	}
}

@media (max-width: 1024px) {
	.products {
		padding: 2rem;

		.display-none-1024 {
			display: none;
		}

		.right {
			.filter-icon {
				display: block;
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				margin-bottom: 1.25rem;
			}

			.mobile-filters {
				display: block;
				position: fixed;
				width: 100%;
				min-height: 100vh;
				top: 0;
				left: -100%;
				z-index: 90;
				background-color: white;
				padding: 3rem;
				transition: all 0.3s ease-in;

				.close {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 2rem;

					.close-icon {
						font-size: 2rem;
						cursor: pointer;
					}
				}

				.filter-items-wrapper {
					padding: 1.25rem;
					display: flex;
					gap: 2rem;

					.filter-item {
						margin-bottom: 2rem;

						h2 {
							margin-bottom: 1.25rem;
							font-weight: 400;
							font-size: 1.5rem;
						}

						.input-item {
							margin-bottom: 0.625rem;

							label {
								margin-left: 0.625rem;
							}

							.range-input {
								margin-left: 5px;
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 640px) {
	.products {
		flex-direction: column;

		.right {
			.mobile-filters {
				.filter-items-wrapper {
					display: block;
				}
			}
		}
	}
}
