.navbar {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 20px;
	color: #222;
	background-color: white;
	position: relative;
	box-shadow: 1px 1px 10px #f0f3f8;

	.item {
		display: flex;
		align-items: center;
		font-size: 18px;
		cursor: pointer;
	}

	.left {
		font-size: 30px;
		letter-spacing: 2px;
		justify-self: center;
	}

	.center {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	.right {
		display: flex;
		align-items: center;
		gap: 20px;

		.icons {
			display: flex;
			align-items: center;
			gap: 20px;
			color: #666;
			cursor: pointer;

			.nav-icon {
				transition: all 0.1s ease-in;
			}
			.nav-icon:hover,
			.nav-icon:active {
				color: #111;
			}

			.cart-icon {
				position: relative;

				span {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 20px;
					width: 20px;
					border-radius: 50%;
					font-size: 12px;
					font-weight: bold;
					background-color: #2879fe;
					color: white;
					position: absolute;
					top: -10px;
					right: -10px;
				}
			}

			.burger-menu {
				display: none;
			}
		}
	}

	.cart-container {
		position: absolute;
		right: 20px;
		top: 80px;
		z-index: 90;
	}

	.mobileNav-wrapper {
		position: fixed;
	}

	.nav-backdrop {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.6);
		transition: all 0.5s ease-in;
	}

	.mobile-nav {
		position: absolute;
		top: 0;
		height: 100vh;
		width: 90vw;
		max-width: 400px;
		background-color: white;
		z-index: 11;
		padding: 40px;
		transition: all 0.3s ease-in-out;

		.top {
			display: flex;
			justify-content: flex-end;
			align-items: center;

			.close {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 5px;
				border-radius: 50%;
				transition: all 0.2s ease-in;

				.icon {
					font-size: 30px;
				}

				&:hover {
					background: #efefef;
				}
			}
		}

		.center {
			margin-top: 40px;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.link {
				padding-right: 5px;
				width: 100%;
				transition: all 0.2s ease-in-out;

				&:hover {
					padding-right: 0;
				}

				a {
					display: flex;
					justify-content: space-between;
					align-items: center;

					span {
						font-size: 24px;
					}

					.icon {
						font-size: 18px;
					}
				}
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			gap: 15px;
			margin-top: 80px;
			color: #444;

			div {
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1200px) {
	.navbar {
		.hidden-1200 {
			display: none;
		}
	}
}

@media (max-width: 960px) {
	.navbar {
		padding: 20px;

		.left {
			font-size: 24px;
		}

		.center {
			display: none;
		}

		.right {
			.item {
				display: none;
			}

			.mobile-none {
				display: none;
			}

			.icons {
				.burger-menu {
					display: block;
				}
			}
		}

		.mobile-nav {
			.center {
				a {
					span {
						font-size: 18px;
					}
				}
			}
		}
	}
}

// @media (max-width: 400px) {
// 	.navbar {
// 		.hidden-1200 {
// 			display: none;
// 		}
// 	}
// }
